<!DOCTYPE html>
<html data-ng-app="myApp">

<head lang="en">
<meta charset="utf-8">
<title>Playoff Scoresheet Generation</title>

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>

<script src="app2.js"></script>
</head>

<body ng-controller="MyCtrl">

	<div data-ng-init="getDropDownDataFromServer()"
		class="activeTeamsDropdownStyle" />


<p><b>Date:</b> <input type="text" ng-model="date"></p>

<p><b>Tables:</b> <input type="text" ng-model="table1"><input type="text" ng-model="table2"></p>

	<b>Home Team:</b>
	<select id="activeHomeTeam" data-ng-model="selectedHomeTeam"
		data-ng-change="loadHomeRoster();" style="font-size: 11px"
		ng-options="x.number as (x.number+' - '+x.name) for x in activeHomeTeam.teams">
		<option value="">-- Select Home Team --</option>
		</option>
	</select>

	<b>Away Team:</b>
	<select id="activeAwayTeam" data-ng-model="selectedAwayTeam"
		data-ng-change="loadAwayRoster();" style="font-size: 11px"
		ng-options="x.number as (x.number+' - '+x.name) for x in activeAwayTeam.teams">
		<option value="">-- Select Home Team --</option>
		</option>
	</select>

	<button ng-click="GenerateScoreSheet()" style="font-size: 16px">Generate
		Scoresheet</button>

	</div>

</body>

</html>