<!DOCTYPE html>
<html data-ng-app="myApp">

<head lang="en">
<meta charset="utf-8">
<title>Scoresheet Selection</title>

<link rel="stylesheet" type="text/css"
	href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script type="text/javascript"
	src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>




<script type="text/javascript">
	var app = angular.module('myApp', [ 'ngGrid' ])

	.constant('nameColumnSize', 100);

	app
			.controller(
					'MyCtrl',
					function($scope, $http) {

						$scope.show = false;

						$scope.position = "home";

						$scope.populateGridData = function() {
							var myactivevalue = angular.element(
									document.querySelector('#activeTeam'))
									.val();
							$http({
								method : 'GET',
								url : 'players?teamNumber=' + myactivevalue
							}).success(
									function(dataBasket, status, headers,
											config) {
										$scope.myData = dataBasket;
									$scope.AddIndex($scope.myData.players);
									}).error(
									function(data, status, headers, config) {
										// called asynchronously if an error occurs show here
									});
						};
						$scope.filterOptions = {
							filterText : ''
						};

						$scope.editableInPopup = '<button id="editBtn" type="button" class="btn btn-primary" ng-click="removeRow(row)" >Remove</button>';

						$scope.moveRowUpButton = '<button id="upBtn" type="button" class="btn btn-primary" ng-click="moveRowUp(row)" >Up</button>';

						$scope.moveRowDownButton = '<button id="downBtn" type="button" class="btn btn-primary" ng-click="moveRowDown(row)" >Down</button>';

						
						
						$scope.removeRow = function(row) {
						      var index = $scope.myData.players.indexOf(row.entity);
						      $scope.myData.players.splice(index, 1);
						    };
						    
						$scope.moveRowUp = function(row) {
							
							
							
							 var index = $scope.myData.players.indexOf(row.entity);
							 
							 var newIndex = index -1;
							 
							
					
							 if (index != 0)
								 {	 
								 
								 $scope.moveRow(index, newIndex);
								   
								   
								/*   $scope.myData.players[index] = $scope.myData.players[index-1];
								    
								   $scope.myData.players[index-1] = element; 
								   

								   $scope.myData.players.splice(0,0,element);
								   
								   $scope.myData.players.splice(0,1);
								   
								   
								   $scope.AddIndex( $scope.myData.players);
									 
								*/	   
									   
									}
								 

								
						};
						
						$scope.moveRow = function(fromIndex, toIndex)
						{
							var element = $scope.myData.players[fromIndex];
							   
							   $scope.myData.players.splice(fromIndex,1);
							   $scope.myData.players.splice(toIndex,0,element); 
							   
							   $scope.AddIndex( $scope.myData.players);
							   $scope.gridOptions.sortBy('idx');
							   $scope.gridOptions.sortBy('idx');
						};
						
					    
						$scope.moveRowDown = function(row) {
							 var index = $scope.myData.players.indexOf(row.entity);
							 
							 if (index != $scope.myData.players.length-1)
								 {
							$scope.moveRow(index, index+1);
								 }
						};

						
						$scope.AddIndex = function(players)
						{
							//alert('add index');
							
							//alert(JSON.stringify(players, null, 4));
							var i=1;
							
							for (i=0;i<players.length;i++) {
								players[i].idx = i;
					
							}
						//	alert(JSON.stringify(players, null, 4));
						};
						$scope.gridOptions = {
							data : 'myData.players',
							//showGroupPanel : true,
							rowHeight : 22,
							enableRowReordering : true,
							enableRowSelection : false,
							multiSelect : false,
							sortInfo: {fields : ['idx'], directions : ['asc']},
							columnDefs : [ 
							              {
							            	  cellTemplate: '<div>{{row.rowIndex + 1}}</div>',
							            	  width: 20
							            },
							            
							            {
											field : 'idx',
										}, 
							               
							{
								field : 'firstName',
								displayName : 'First Name',
								width : 100
							}, {
								field : 'lastName',
								displayName : 'Last Name',
								width : 100
							},

							{
								field : 'displayActualAverage',
								displayName : 'Average',
								width : 80,
								format : "c2",
								cellFilter : 'number: 1'
							}, {
								field : 'totalPoints',
								displayName : 'Points',
								width : 80
							}, {
								field : 'gamesPlayed',
								displayName : 'Games',
								width : 80
							}, {
								cellTemplate : $scope.editableInPopup,
								width : 80
							},
							{
								cellTemplate : $scope.moveRowUpButton,
								width : 80
							},
							{
								cellTemplate : $scope.moveRowDownButton,
								width : 80
							}

							]
						};

						// 		$scope.gridOptions = {
						// 			data : 'myData',
						// 			showGroupPanel : true,
						// 			filterOptions : $scope.filterOptions,
						// 			showColumnMenu : true,
						// 			showFilter : true,
						// 			selectedItems : $scope.mySelections,
						// 			multiSelect : false,
						// 			rowHeight : 22
						//		};
						$scope.getDropDownDataFromServer = function() {
							$http({
								method : 'GET',
								url : 'teams'
							}).success(function(data, status, headers, config) {

								$scope.activeTeam = data;
								$scope.show = true;

							}).error(function(data, status, headers, config) {
								// called asynchronously if an error occurs show here           
							});

						};

						$scope.GenerateScoreSheet = function() {
							/*$window.open('GenerateScoreSheet?home=1&away=2&isHome=true');*/

							var myTeam = angular.element(
									document.querySelector('#activeTeam'))
									.val();

							var opponent = angular.element(
									document.querySelector('#opponentTeam'))
									.val();

							h = true;

							if ($scope.position == "away") {
								h = false;
							}

							window.open('GenerateScoreSheet?myTeam=' + myTeam
									+ '&opponentTeam=' + opponent + '&ishome='
									+ h, '_blank');
						};

					});
</script>


</head>

<body ng-controller="MyCtrl">


	<div class='tab' ng-show="show">
		<div data-ng-init="getDropDownDataFromServer()"
			class="activeTeamsDropdownStyle">
			<b>Your Team:</b> <select id="activeTeam"
				data-ng-model="selectedTeam" data-ng-change="populateGridData();"
				style="font-size: 11px">
				<option value="">-- Select Active Team --</option>

				<option data-ng-repeat="team in activeTeam.teams"
					value="{{team.number}}"><i>{{team.number}}</i> -
					{{team.name}}
				</option>
			</select> <input type="radio" ng-model="position" value="home"> Home <input
				type="radio" ng-model="position" value="away"> Away <br />
			<div class="gridStyle" ng-grid="gridOptions"></div>
			<br> <b>Your Opponent:</b> <select id="opponentTeam"
				data-ng-model="selectedOpponentTeam" style="font-size: 11px">
				<option value="">-- Select Active Team --</option>

				<option data-ng-repeat="team in activeTeam.teams"
					value="{{team.number}}"><i>{{team.number}}</i> -
					{{team.name}}
				</option>
			</select> <br> <br>
			<button ng-click="GenerateScoreSheet()" style="font-size: 16px">Generate
				Scoresheet</button>
		</div>
</body>

</html>