<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 
  <welcome-file-list>
    <welcome-file>scoresheet.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Scoresheet</display-name>
    <servlet-name>Scoresheet</servlet-name>
    <servlet-class>com.ppa8ball.ScoresheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scoresheet</servlet-name>
    <url-pattern>/scoresheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadStats</display-name>
    <servlet-name>LoadStats</servlet-name>
    <servlet-class>com.ppa8ball.LoadStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStats</servlet-name>
    <url-pattern>/LoadStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPlayers</display-name>
    <servlet-name>SearchPlayers</servlet-name>
    <servlet-class>com.ppa8ball.SearchPlayersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPlayers</servlet-name>
    <url-pattern>/searchplayers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teams</display-name>
    <servlet-name>TeamsServlet</servlet-name>
    <servlet-class>com.ppa8ball.stats.TeamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamsServlet</servlet-name>
    <url-pattern>/teams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayersServlet</display-name>
    <servlet-name>PlayersServlet</servlet-name>
    <servlet-class>com.ppa8ball.servlets.PlayersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayersServlet</servlet-name>
    <url-pattern>/players</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateScoreSheet</display-name>
    <servlet-name>GenerateScoreSheet</servlet-name>
    <servlet-class>com.ppa8ball.servlets.GenerateScoreSheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateScoreSheet</servlet-name>
    <url-pattern>/GenerateScoreSheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>weeks</display-name>
    <servlet-name>weeks</servlet-name>
    <servlet-class>com.ppa8ball.servlets.WeeksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weeks</servlet-name>
    <url-pattern>/weeks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matches</display-name>
    <servlet-name>matches</servlet-name>
    <servlet-class>com.ppa8ball.servlets.MatchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matches</servlet-name>
    <url-pattern>/matches</url-pattern>
  </servlet-mapping>
</web-app>